<!DOCTYPE html>
<html lang="fr">
<include href="./base/includes/head.htm"/>
<body>
{{@lastAnchor}}
{* ajout des boutons supérieurs si l'utilisateur est connecté en tant qu'admin*}
<include if="{{ @isAdmin }}" href="./base/includes/adminButtons.htm"/>
<include if="{{ @isAdmin }}" href="./base/helpBtn/helpBtn.htm"/>

<include href="./base/nav/nav.htm"/>

<repeat group="{{ @siteStructure }}" key="{{ @position }}" value="{{ @section}}">
	<check if="{{ @section[id] === 'footer' }}">
		<true>


				<include href="./base/footer/footer.htm"/>



		</true>
		<false>
			<section class="relative moduleSectionContainer" id="{{@section[id]}}">
				<include if="{{ @isAdminPage }}" href="./base/editBtns/addSection.htm" with="reference={{@section[id]}},positionReference='before'"/>

				<include href="{{ './modules/' . @section['module'] . '/module.htm' }}" with="id={{@section[id]}},fields={{@section[fields]}}"/>
				<check if="{{ @isAdminPage }}">

					<include href="./base/generalModuleOptions/generalModuleOptions.htm" with="id={{@section[id]}}"/>
				</check>


			</section>
		</false>

	</check>
</repeat>


<check if="{{ @isAdminPage }}">
	<include href="./base/editBtns/addSectionModal.htm"/>
	<include href="./base/includes/saveBtn.htm"/>
	<include href="./base/generalModuleOptions/addToMenuModal.htm"/>
	<include href="./base/uglyForm/uglyForm.htm"/>
	<include href="./base/siteOptionsModal/siteOptionsModal.htm"/>
</check>
<include if="{{ @isAdmin }}" href="./base/helpBtn/helpModal.htm"/>
<!--  Scripts-->
<include href="./base/includes/scripts.htm"/>
<include href="./base/siteOptionsModal/mediaManagment/croppingModal.htm" />
</body>
</html>