<form class="col s12 " method="POST" action="authenticate" >
	<div class="row" style="margin-top: 30px">
		<div class="input-field col s12 m6">
			<input id="username" name="username" type="text" required class="validate grey-text text-darken-2" >
			<label class="grey-text text-darken-2" for="username">Nom d'utilisateur</label>
		</div>
		<div class="input-field col s12 m6">
			<input id="password" name="password" type="password" required class="validate grey-text text-darken-2">
			<label class="grey-text text-darken-2" for="password">Mot de passe</label>
		</div>
	</div>
	<div class="row">
		<div class="col s12 center-align">
			<button type="submit" class="white-text btn-large frama-orange hover-frama-purple waves-effect waves-light btn" style="color: white !important;"><i style="color: white !important;" class="material-icons white-text right">verified_user</i>connexion</button>
		</div>
	</div>
	<p class="center-align" style="font-size: small "> <i class="grey-text text-darken-2">Mot de passe oublié?<br> Retournez sur <a  href="https://frama.site/"><b  class="frama-purple-text">frama.site</b></a> puis cliquez sur <b class="grey-text text-darken-4">paramètres de cette page</b> avant de cliquer sur <b class="grey-text text-darken-4">Editer</b> en face de votre nom pour pouvoir créerr un nouveau mot de passe</i></p>
</form>